apiVersion: v1
kind: Service
metadata:
  name: envoy-proxy
  namespace: envoy-ns
  labels:
    app: envoy-proxy
spec:
  type: NodePort
  ports:
  - name: http
    nodePort: 30080
    port: 30080
    targetPort: http
    protocol: TCP
  selector:
    app: envoy-proxy
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: envoy-proxy
  namespace: envoy-ns
  labels:
    app: envoy-proxy
spec:
  selector:
    matchLabels:
      app: envoy-proxy
  template:
    metadata:
      labels:
        app: envoy-proxy
    spec:
      containers:
      - name: envoy-proxy
        image: docker-registry:${DOCKER_REGISTRY_PORT}/apigee-hybrid/single-instance/envoy-proxy:v2
        imagePullPolicy: IfNotPresent
        env:
        - name: "SERVICE_NAME"
          value: "${SERVICE_NAME}"
        - name: "APIGEE_NAMESPACE"
          value: "${APIGEE_NAMESPACE}"
        ports:
        - name: http
          containerPort: 30080
        - name: envoy-admin
          containerPort: 9901