not-add-*.sh
terraform-modules/*/.terraform.lock.hcl
terraform-modules/*/.terraform/
terraform-modules/*/terraform.tfstate
terraform-modules/*/terraform.tfstate.backup
terraform-modules/apigee-install/install-state.txt
terraform-modules/project-install/install-state.txt
scripts/hybrid-artifacts/test-*.yaml
envoy/envoy-deployment.yaml
*personal.md
