project_id = "$PROJECT_ID" 

gke_cluster = {
  name                      = "$CLUSTER_NAME"
  location                  = "$REGION"
  master_authorized_ranges  = {
    "internet" = "0.0.0.0/0"
  }
  master_ip_cidr            = "192.168.0.0/28"
  region                    = "$REGION"
}

node_locations_data = ["$CLUSTER_NODE_ZONE"]

vpc_self_link = "https://www.googleapis.com/compute/v1/projects/$PROJECT_ID/global/networks/$VPC_NETWORK_NAME"

subnet_self_link = "https://www.googleapis.com/compute/v1/projects/$PROJECT_ID/regions/$REGION/subnetworks/$SUB_NETWORK_NAME"

network = "$VPC_NETWORK_NAME"

subnets = [{
  name          = "$SUB_NETWORK_NAME"
  ip_cidr_range = "10.0.0.0/24"
  region        = "$REGION"
  secondary_ip_range = {
    pods = "10.100.0.0/20"
    services = "10.101.0.0/23"
  }
}]