/**
 * Copyright 2022 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

project_id = "$PROJECT_ID" 

gke_cluster = {
  name                      = "$CLUSTER_NAME"
  location                  = "$REGION"
  master_authorized_ranges  = {
    "internet" = "0.0.0.0/0"
  }
  master_ip_cidr            = "192.168.0.0/28"
  region                    = "$REGION"
}

node_locations_data = ["$REGION-a"]

vpc_self_link = "https://www.googleapis.com/compute/v1/projects/$PROJECT_ID/global/networks/$VPC_NETWORK_NAME"

subnet_self_link = "https://www.googleapis.com/compute/v1/projects/$PROJECT_ID/regions/$REGION/subnetworks/$SUB_NETWORK_NAME"

network = "$VPC_NETWORK_NAME"

subnets = [{
  name          = "$SUB_NETWORK_NAME"
  ip_cidr_range = "10.0.0.0/24"
  region        = "$REGION"
  secondary_ip_range = {
    pods = "10.100.0.0/20"
    services = "10.101.0.0/23"
  }
}]